<b>Lopputuloksen voi lisätä seuraaviin peleihin: </b> <br>
<br>
{% if not fixtures %}
Ei kirjattavia pelejä <br>
<br>
<form action="/front_page" method="POST">
    <input type="submit" value="Palaa etusivulle">
    </form>
<br>
{% else %}
{% for fixture in fixtures %}
Veikkaustunnus: {{ fixture.id }} <br>
Kotijoukkue: {{ fixture.home_team }} <br>
Vierasjoukkue: {{ fixture.visitor_team }} <br>
Aika: {{ fixture.date.strftime("%d.%m.%Y kello %H:%M") }} <br>
<hr>
{% endfor %}

<form action="/add_outcome" method="POST">
    Veikkaustunnus: <input type="integer" name="game_id">
    <p>
    Kotijoukkueen maalit: <input type="integer" name="goals_home">
    <p>
    Vierasjoukkueen maalit: <input type="integer" name="goals_visitor"> 
    <p>
    <input type="submit" value="Lisää lopputulos">
    </form>
tai <br>
<br>
<form action="/front_page" method="POST">
    <input type="submit" value="Palaa etusivulle">
    </form>
<br>
{% endif %}
