<b>Pelikohtaiset veikkaukset ja pisteet:</b> <br>
<hr>
{% if not scores %}
Ei veikkauksia tai kirjattuja pisteitä <br>
<br>
{% else %}
{% for score in scores %}
Veikkaaja: {{ score.username }} <br>
Peli: {{ score.home_team }} vs. {{ score.visitor_team }} <br>
{{score.date.strftime("%d.%m.%Y kello %H:%M")}} <br>
Lopputulos: {{ score.outcome_home  }} - {{ score.outcome_visitor  }} <br>
Veikkaus: {{ score.goals_home  }} - {{ score.goals_visitor }} <br>
Pisteet: {{ score.scores }} <br>
<hr>
{% endfor %}
{% endif %}