<b>Avoimet pelit: </b> <br>
<br>
{% if not games %}
Ei avoimia pelejä <br>
<br>
{% else %}

{% for game in games %}
Veikkaustunnus: {{ game.id }} <br>
Kotijoukkue: {{ game.home_team }} <br>
Vierasjoukkue: {{ game.visitor_team }} <br>
Aika: {{ game.date.strftime("%d.%m.%Y kello %H:%M") }} <br>
<hr>
{% endfor %}
{% endif %}
{% if session.user_id %}
<hr>
Olet kirjautunut sisään. <br>
<br>
<a href="/bet">Lisää veikkaus</a> | <a href="/get_scores">Katso pistetilanne</a> | <a href="/logout">Kirjaudu ulos</a>
<hr>
Ylläpitäjän toiminnot: <br>
<br>
<a href="/add_game">Lisää peli </a> | <a href="/add_outcome">Lisää lopputulos </a> | <a href="/score">Pisteytä </a>
{% else %}
<a href="/login">Kirjaudu sisään</a> | <a href="/register">Rekisteröidy</a>
{% endif %}
