Avoimet pelit:
<hr>
{% for fixture in fixtures %}
Veikkaustunnus: {{ fixture.id }} <br>
Kotijoukkue: {{ fixture.home_team }} <br>
Vierasjoukkue: {{ fixture.visitor_team }} <br>
Aika: {{ fixture.date.strftime("%d.%m.%Y kello %H:%M") }} <br>
<hr>
{% endfor %}
<hr>
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/bet">Lisää veikkaus</a> | <a href="/scores">Katso pistetilanne</a> | <a href="/delete">Poista veikkaus </a> | <a href="/add_game">Lisää peli </a> | <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a> | <a href="/register">Rekisteröidy</a>
{% endif %}
